@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:wght@400;900&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    --main color: black;
    --accent-color:#A5366B; 
}

h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    max-width: 980px;
    margin: auto;
}
/*header .logo{
    display: flex;
    align-items: center;
    text-align: center;*/
}

header nav .logo {
    display: block;
    /*margin: 0;
    font-family: 'Cookie', cursive;
    font-size: 4rem;
    color:  #A5366B;
    text-align: center;
    letter-spacing: 5px;*/
}

header nav .top-menu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 15px;
}

header nav .top-menu li a {
    text-transform: uppercase;
    color: var(--main-color);
    text-decoration: none;
    border-top: 2px solid transparent;
    padding: 5px;
}

header nav .top-menu li a:hover {
    border-top: 2px solid #A5366B;
}

header .cart{
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 500px) {
    header nav {
        display: flex;
    }
    header nav .top-menu {
        flex: 1;
    }
}

header .container {
    background-color: #FCDAFF;
    min-height: 400px;
}

header .container .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    margin-left: 23px;
}

header .container .wrapper .title {
    font-family: 'Cookie', cursive;
    font-size: 48px;
    letter-spacing: 5px;
    color:#A5366B;   
}

header .container .wrapper .text {
    margin: 0;
}

header .container .wrapper .intro {
    color: #696767;
    width: 230px;
    margin-top: 20px;
}

.offer a{
 color: #ffffff;
 background:#A5366B ;
 display: block;
 width: 135px;
 border-radius: 10px;
 padding: 20px 0;
 text-align: center;
 text-decoration: none; 
 font-weight: 900;
 margin-top: 20px;
 transition: all 0.2s;
}

.offer a :hover {
    background-color: #750D3F;
}

header .container .wrapper .desktop {
    min-height: 400px;
}

main .promo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
 .promo h2 {
    text-align: center;
    font-family:'Cookie', cursive;
    color: #A5366B; 
    letter-spacing: 5px;
    font-size: 36px;
}

.promo p {
    text-align: center;
    color: #696767;
    margin-bottom: 20px;
}

.promo .promo.img {
    min-height: 135px;
}